header {
  border: 3px ridge gold;
  border-radius: 5px;
  height: 100px;
  background-image: url("../../images/imgheader.jpg");
  border-color: gold; }
  header nav {
    height: 100%;
    vertical-align: center; }
    header nav ul {
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center; }
      header nav ul li {
        color: gold;
        height: 30px;
        margin-left: 140px;
        align-self: center; }
        header nav ul li a {
          color: black;
          border: 1px solid white;
          border-radius: 3px;
          background-color: #333333;
          opacity: 0.8;
          color: gold;
          font-size: 20px; }

.container {
  background-color: #333333; }
  .container footer {
    margin-left: 0px;
    background-color: #1a3f4d;
    height: 60px;
    width: 100%;
    border: 1px solid gold;
    border-radius: 5px; }
  .container h1, .container p, .container h4, .container h6 {
    color: white; }

p {
  font-size: 20px; }

h1 {
  background-color: #548ac5;
  width: 250px;
  border: 1px solid #548ac5;
  border-radius: 4px; }

span {
  color: gold; }

body h2 {
  color: gold;
  border: 3px solid gold;
  background-color: black;
  border-radius: 10px; }
body h3 {
  color: white; }

.margin1 {
  margin-top: 50px; }

.main-text {
  position: absolute;
  top: 50px;
  width: 96.66666666666666%;
  color: #FFF; }

.btn-min-block {
  min-width: 170px;
  line-height: 26px; }

.btn-clear {
  color: #FFF;
  background-color: transparent;
  border-color: #FFF;
  margin-right: 15px; }

.btn-clear:hover {
  color: #000;
  background-color: #FFF; }
